@import "tailwindcss";



:root {
  --primary: hsl(36, 32%, 50%);
  --primary-foreground: hsl(36, 32%, 50%);
  --gold-500: hsl(36, 32%, 50%);
  --gold-600: hsl(34, 34%, 42%);
  --bg-background: hsl(0, 0%, 100%);
}

@layer base {
  body {
    @apply text-gray-900 bg-gray-100;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .bg-background {
    background-color: var(--bg-background);
  }
  .bg-gold-500 {
    background-color: var(--gold-500);
  }
  .bg-gold-600 {
    background-color: var(--gold-600);
  }
  .text-gold-500 {
    color: var(--gold-500);
  }
  .ring-gold-500 {
    --tw-ring-color: var(--gold-500);
  }
}

